/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/

/**
 *  Hero
 */
.hero {
  background-image: url("../images/front-page/hero.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 20px 0;
  border-radius: 20px;
  height: 500px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.hero .hero-title {
  font-weight: bold;
  color: var(--white);
  font-size: 40px;
}

.hero .hero-link {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 20px 64px;
  background-color: var(--primary);
  border-radius: 12px;
  line-height: 1;
  color: var(--white);
  text-decoration: none;
  transition: 0.2s ease-out;
}

.hero .hero-link:hover {
  filter: brightness(90%);
}

.hero .hero-link:active {
  filter: brightness(80%);
}

/**
 *  Our vision
 */
.our-vision {
  margin-top: 80px;
}

.our-vision .our-vision-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  display: grid;
  gap: 40px;
}

.our-vision .illustration img {
  width: 200px;
  margin: 0 auto;
}

.our-vision .title-en {
  color: var(--primary);
  line-height: 1;
  font-size: 24px;
}

.our-vision .title-ja {
  font-size: 28px;
  margin-top: 16px;
}

.our-vision .description {
  margin-top: 40px;
}

/**
 *  About us
 */

.about-us {
  margin-top: 80px;
}

.about-us .about-us-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  display: grid;
  gap: 40px;
}

.about-us .image img {
  border-radius: 20px;
}

.about-us .title-en {
  color: var(--primary);
  line-height: 1;
  font-size: 24px;
}

.about-us .title-ja {
  font-size: 28px;
  margin-top: 16px;
}

.about-us .description {
  margin-top: 40px;
}

.about-us .link {
  margin-top: 40px;
}

/**
 *  Beverage
 */
.beverage {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--slate-100);
}

.beverage .beverage-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.beverage .title-en {
  color: var(--primary);
  line-height: 1;
  font-size: 24px;
}

.beverage .title-ja {
  font-size: 28px;
  margin-top: 16px;
}

.beverage .beverage-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px 20px;
}

.beverage .beverage-item .beverage-item-image {
  border-radius: 8px;
  width: 100%;
}

.beverage .beverage-item .beverage-item-title {
  margin-top: 8px;
}

.beverage .beverage-item .beverage-item-price {
  font-weight: bold;
}

/**
 *  Contact
 */

.contact {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
}

.contact .contact-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--slate-50);
  border-radius: 40px;
  padding: 48px 20px;
}

.contact .title {
  font-size: 20px;
}

/*--------------------------------------------------------------
# Desktop
--------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  /**
   *  Hero
   */
  .hero {
    padding: 48px;
    margin: 48px 48px 0;
  }

  .hero .break {
    display: none;
  }

  /**
   *  Our vision
   */
  .our-vision {
    margin-top: 160px;
  }

  .our-vision .our-vision-inner {
    gap: 80px;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .our-vision .illustration img {
    width: 386px;
  }

  /**
   *  About us
   */
  .about-us {
    overflow: hidden;
    margin-top: 160px;
  }

  .about-us .about-us-inner {
    gap: 80px;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .about-us .image {
    order: 1;
    margin-right: calc(50% - 50vw);
  }

  /**
   *  Beverage
   */
  .beverage {
    margin-top: 160px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .beverage .title-ja {
    font-size: 28px;
    margin-top: 16px;
  }

  .beverage .beverage-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }

  .beverage .beverage-item .beverage-item-image {
    border-radius: 8px;
    width: 100%;
  }

  .beverage .beverage-item .beverage-item-title {
    margin-top: 8px;
  }

  .beverage .beverage-item .beverage-item-price {
    font-weight: bold;
  }

  /**
   *  Contact
   */
  .contact {
    margin-top: 160px;
    margin-bottom: 160px;
  }

  .contact .title {
    font-size: 24px;
  }
}
